# Cricket Project

### Importing libraries and datasets

In [1]:
import pandas as pd

In [2]:
#data of match statistics

matchstatsl = pd.read_csv("matchstatsl.csv")

playerstatsl = pd.read_csv("slbatstatmat.csv")

### Data cleaning

#### Cleaning matchstatsl dataset

In [3]:
# removing unimportant columns

matchstatsl = matchstatsl.drop(["web-scraper-order","web-scraper-start-url"], axis=1)
matchstatsl

,Team,Score,Overs,RPO,Inns,Result,Opposition,Ground,Start Date
0,Sri Lanka,DNB,0.0,-,0,n/r,v Zimbabwe,Bulawayo,21 Nov 2016
1,Sri Lanka,121,27.0,4.48,2,lost,v England,The Oval,28 Jun 2011
2,Sri Lanka,208/7,49.0,4.24,2,won,v Bangladesh,Dhaka,6 Mar 2014
3,Sri Lanka,223/9,49.2,4.52,1,won,v South Africa,Colombo (RPS),23 Jul 2013
4,Sri Lanka,248/8,49.4,4.99,2,won,v Pakistan,Colombo (RPS),18 Jun 2012
...,...,...,...,...,...,...,...,...,...
223,Sri Lanka,236,49.2,4.78,1,lost,v Pakistan,Cardiff,12 Jun 2017
224,Sri Lanka,242/8,35.0,6.91,1,lost,v England,Hambantota,3 Dec 2014
225,Sri Lanka,191,41.1,4.63,1,lost,v Australia,Pallekele,10 Aug 2011
226,Sri Lanka,238,49.4,4.79,1,lost,v India,Colombo (RPS),3 Sep 2017
227,Sri Lanka,266/9,50.0,5.32,1,lost,v South Africa,Bloemfontein,17 Jan 2012

In [4]:
# Remove 'DNB' 

matchstatsl = matchstatsl[matchstatsl['Score'] != 'DNB']

In [5]:
matchstatsl.tail()

,Team,Score,Overs,RPO,Inns,Result,Opposition,Ground,Start Date
223,Sri Lanka,236,49.2,4.78,1,lost,v Pakistan,Cardiff,12 Jun 2017
224,Sri Lanka,242/8,35.0,6.91,1,lost,v England,Hambantota,3 Dec 2014
225,Sri Lanka,191,41.1,4.63,1,lost,v Australia,Pallekele,10 Aug 2011
226,Sri Lanka,238,49.4,4.79,1,lost,v India,Colombo (RPS),3 Sep 2017
227,Sri Lanka,266/9,50.0,5.32,1,lost,v South Africa,Bloemfontein,17 Jan 2012

In [6]:
# make Score, RPO numberical.

matchstatsl['Scorecopy'] = matchstatsl['Score'].str.split('/').str[0]
matchstatsl.head()

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Team,Score,Overs,RPO,Inns,Result,Opposition,Ground,Start Date,Scorecopy
1,Sri Lanka,121,27.0,4.48,2,lost,v England,The Oval,28 Jun 2011,121
2,Sri Lanka,208/7,49.0,4.24,2,won,v Bangladesh,Dhaka,6 Mar 2014,208
3,Sri Lanka,223/9,49.2,4.52,1,won,v South Africa,Colombo (RPS),23 Jul 2013,223
4,Sri Lanka,248/8,49.4,4.99,2,won,v Pakistan,Colombo (RPS),18 Jun 2012,248
5,Sri Lanka,252/4,47.4,5.28,2,won,v New Zealand,Hamilton,15 Jan 2015,252

In [7]:
# making a new columns for wickets fallen and filling nan with 10 wickets

matchstatsl['Wicketslost'] = matchstatsl['Score'].str.split('/').str[1]
matchstatsl['Wicketslost'] = matchstatsl['Wicketslost'].fillna(10)
matchstatsl

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Team,Score,Overs,RPO,Inns,Result,Opposition,Ground,Start Date,Scorecopy,Wicketslost
1,Sri Lanka,121,27.0,4.48,2,lost,v England,The Oval,28 Jun 2011,121,10
2,Sri Lanka,208/7,49.0,4.24,2,won,v Bangladesh,Dhaka,6 Mar 2014,208,7
3,Sri Lanka,223/9,49.2,4.52,1,won,v South Africa,Colombo (RPS),23 Jul 2013,223,9
4,Sri Lanka,248/8,49.4,4.99,2,won,v Pakistan,Colombo (RPS),18 Jun 2012,248,8
5,Sri Lanka,252/4,47.4,5.28,2,won,v New Zealand,Hamilton,15 Jan 2015,252,4
...,...,...,...,...,...,...,...,...,...,...,...
223,Sri Lanka,236,49.2,4.78,1,lost,v Pakistan,Cardiff,12 Jun 2017,236,10
224,Sri Lanka,242/8,35.0,6.91,1,lost,v England,Hambantota,3 Dec 2014,242,8
225,Sri Lanka,191,41.1,4.63,1,lost,v Australia,Pallekele,10 Aug 2011,191,10
226,Sri Lanka,238,49.4,4.79,1,lost,v India,Colombo (RPS),3 Sep 2017,238,10
227,Sri Lanka,266/9,50.0,5.32,1,lost,v South Africa,Bloemfontein,17 Jan 2012,266,9

In [8]:
#changing type of new columns

matchstatsl['Wicketslost'] = matchstatsl['Wicketslost'].astype('int')
matchstatsl['Scorecopy'] = matchstatsl['Scorecopy'].astype('int')

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
# removine v form opposition column

matchstatsl['OppositionCopy'] = matchstatsl['Opposition'].str.strip(' ').str[1:]
matchstatsl.head()

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Team,Score,Overs,RPO,Inns,Result,Opposition,Ground,Start Date,Scorecopy,Wicketslost,OppositionCopy
1,Sri Lanka,121,27.0,4.48,2,lost,v England,The Oval,28 Jun 2011,121,10,England
2,Sri Lanka,208/7,49.0,4.24,2,won,v Bangladesh,Dhaka,6 Mar 2014,208,7,Bangladesh
3,Sri Lanka,223/9,49.2,4.52,1,won,v South Africa,Colombo (RPS),23 Jul 2013,223,9,South Africa
4,Sri Lanka,248/8,49.4,4.99,2,won,v Pakistan,Colombo (RPS),18 Jun 2012,248,8,Pakistan
5,Sri Lanka,252/4,47.4,5.28,2,won,v New Zealand,Hamilton,15 Jan 2015,252,4,New Zealand

In [58]:
matchstatsl['Dateinymdformat'] = pd.to_datetime(matchstatsl['Start Date'])
matchstatsl

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Team,Score,Overs,RPO,Inns,Result,Opposition,Ground,Start Date,Scorecopy,Wicketslost,OppositionCopy,Dateinymdformat
1,Sri Lanka,121,27.0,4.48,2,lost,v England,The Oval,28 Jun 2011,121,10,England,2011-06-28
2,Sri Lanka,208/7,49.0,4.24,2,won,v Bangladesh,Dhaka,6 Mar 2014,208,7,Bangladesh,2014-03-06
3,Sri Lanka,223/9,49.2,4.52,1,won,v South Africa,Colombo (RPS),23 Jul 2013,223,9,South Africa,2013-07-23
4,Sri Lanka,248/8,49.4,4.99,2,won,v Pakistan,Colombo (RPS),18 Jun 2012,248,8,Pakistan,2012-06-18
5,Sri Lanka,252/4,47.4,5.28,2,won,v New Zealand,Hamilton,15 Jan 2015,252,4,New Zealand,2015-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Sri Lanka,236,49.2,4.78,1,lost,v Pakistan,Cardiff,12 Jun 2017,236,10,Pakistan,2017-06-12
224,Sri Lanka,242/8,35.0,6.91,1,lost,v England,Hambantota,3 Dec 2014,242,8,England,2014-12-03
225,Sri Lanka,191,41.1,4.63,1,lost,v Australia,Pallekele,10 Aug 2011,191,10,Australia,2011-08-10
226,Sri Lanka,238,49.4,4.79,1,lost,v India,Colombo (RPS),3 Sep 2017,238,10,India,2017-09-03
227,Sri Lanka,266/9,50.0,5.32,1,lost,v South Africa,Bloemfontein,17 Jan 2012,266,9,South Africa,2012-01-17

In [103]:
# removing unwanted columns

matchstatsl_refined = matchstatsl.loc[:, ['Dateinymdformat','OppositionCopy', 'Ground' ,'Inns' ,'Scorecopy', 'Wicketslost', 'RPO', 'Overs', 'Result']]

In [104]:
matchstatsl_refined

,Dateinymdformat,OppositionCopy,Ground,Inns,Scorecopy,Wicketslost,RPO,Overs,Result
1,2011-06-28,England,The Oval,2,121,10,4.48,27.0,lost
2,2014-03-06,Bangladesh,Dhaka,2,208,7,4.24,49.0,won
3,2013-07-23,South Africa,Colombo (RPS),1,223,9,4.52,49.2,won
4,2012-06-18,Pakistan,Colombo (RPS),2,248,8,4.99,49.4,won
5,2015-01-15,New Zealand,Hamilton,2,252,4,5.28,47.4,won
...,...,...,...,...,...,...,...,...,...
223,2017-06-12,Pakistan,Cardiff,1,236,10,4.78,49.2,lost
224,2014-12-03,England,Hambantota,1,242,8,6.91,35.0,lost
225,2011-08-10,Australia,Pallekele,1,191,10,4.63,41.1,lost
226,2017-09-03,India,Colombo (RPS),1,238,10,4.79,49.4,lost
227,2012-01-17,South Africa,Bloemfontein,1,266,9,5.32,50.0,lost

In [10]:
matchstatsl['Start Date'].nunique()

223

#### cleaning palyerstatsl dataset

In [11]:
# removing unimportant columns

playerstatsl = playerstatsl.drop(["web-scraper-order","web-scraper-start-url"], axis=1)
playerstatsl

,Player,Runs,Balls Faced,Strick Rate,Inning,Opposition,Ground,Date
0,A Dananjaya,18,37,48.64,1,v Pakistan,Sharjah,20 Oct 2017
1,MD Gunathilaka,0,3,0.00,2,v Bangladesh,Dambulla,25 Mar 2017
2,LD Chandimal,10,18,55.55,2,v New Zealand,Mount Maunganui,3 Jan 2019
3,DPMD Jayawardene,2,5,40.00,2,v India,Kolkata,13 Nov 2014
4,HDRL Thirimanne,1*,8,12.50,2,v South Africa,Pallekele,28 Jul 2013
...,...,...,...,...,...,...,...,...
2503,LD Chandimal,29,25,116.00,1,v Pakistan,Hambantota,26 Jul 2015
2504,WIA Fernando,82,75,109.33,2,v Bangladesh,Colombo (RPS),28 Jul 2019
2505,PM Pushpakumara,8,8,100.00,1,v India,Colombo (RPS),3 Sep 2017
2506,SL Malinga,DNB,-,-,1,v England,Leeds,1 Jul 2011
2507,WU Tharanga,11,29,37.93,1,v India,Port of Spain,11 Jul 2013

In [12]:
playerstatsl['Date'].nunique()

228

In [13]:
# remove team did not bat data

playerstatsl = playerstatsl[playerstatsl['Runs'] != 'TDNB']

playerstatsl['Date'].nunique()

# it seems some players have scored in abandoned matches also because unique count of cleared match stat is 223

223

In [14]:
# making RunsCopy and replace 'DNB' with 0 and remove (*)

playerstatsl['Runscopy'] = playerstatsl['Runs']
playerstatsl['Runscopy'] = playerstatsl['Runscopy'].replace(['DNB'],'0')
playerstatsl['Runscopy'] = playerstatsl['Runscopy'].str.split('*').str[0]
playerstatsl['Runscopy'] = playerstatsl['Runscopy'].astype('int')
playerstatsl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2453 entries, 0 to 2507
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       2453 non-null   object
 1   Runs         2453 non-null   object
 2   Balls Faced  2453 non-null   object
 3   Strick Rate  2453 non-null   object
 4   Inning       2453 non-null   object
 5   Opposition   2453 non-null   object
 6   Ground       2453 non-null   object
 7   Date         2453 non-null   object
 8   Runscopy     2453 non-null   int64
dtypes: int64(1), object(8)
memory usage: 191.6+ KB

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [111]:
playerstatsl['Runs'].unique()

array(['18', '0', '10', '2', '1*', '19', '11', '64', '50', '37', '9',
       '11*', '81', '1', '45', '51*', 'DNB', '46', '22', '2*', '17', '5',
       '12*', '0*', '36', '21', '19*', '15', '3', '6', '33', '12', '43',
       '28', '53', '72', '8', '75*', '56', '3*', '7', '88', '64*', '4',
       '14', '27', '42', '7*', '47*', '50*', '31', '52*', '60', '169',
       '27*', '29', '106', '68', '71', '31*', '61', '61*', '20', '22*',
       '75', '95', '32', '62', '93', '13', '26', '80', '76', '39', '102',
       '9*', '113*', '44', '30', '38', '69', '44*', '4*', '55*', '24',
       '40', '26*', '71*', '60*', '58', '34', '58*', '116', '5*', '94',
       '16', '144', '48', '49', '14*', '63', '29*', '92*', '59', '41',
       '25*', '46*', '84*', '100*', '102*', '114*', '65', '32*', '77',
       '51', '67', '6*', '52', '66', '18*', '97', '23', '90*', '78', '25',
       '15*', '73', '10*', '35', '47', '81*', '42*', '90', '127', '80*',
       '57', '96', '91', '107', '8*', '77*', '38*', '53*', '45*', '134*',
       '140', '48*', '160*', '43*', '104', '124', '54', '55', '16*',
       '112*', '65*', '70*', '17*', '105*', '74*', '133', '87', '115*',
       '128', '35*', '111', '41*', '62*', '74', '119', '36*', '24*',
       '39*', '34*', '85*', '21*', '112', '89', '79', '57*', '69*',
       '119*', '30*', '20*', '85', '105', '117*', '70', '33*', '79*',
       '67*', '78*', '87*', '84', '101', '49*', '13*', '118', '125',
       '139*', '103', '99', '100', '86', '111*', '97*', '59*', '23*',
       '174*', '28*', '54*', '56*', '135', '113', '161*', '82'],
      dtype=object)

In [127]:
# Add a column not out and if a star is found in Runs put not out in the field

playerstatsl['Not Out'] = playerstatsl['Runs'].str.contains('\*') 
playerstatsl['Batted'] = ~playerstatsl['Runs'].str.contains('DNB') 
# or playerstatsl['Runs'].str.contains('DNB')

playerstatsl[0:50]

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Player,Runs,Balls Faced,Strick Rate,Inning,Opposition,Ground,Date,Runscopy,Balls Faced Copy,Strick Rate Copy,OppositionCopy,Not Out,Dateinymdformat,Batted
0,A Dananjaya,18,37,48.64,1,v Pakistan,Sharjah,20 Oct 2017,18,37,48.64,Pakistan,False,2017-10-20,True
1,MD Gunathilaka,0,3,0.00,2,v Bangladesh,Dambulla,25 Mar 2017,0,3,0.00,Bangladesh,False,2017-03-25,True
2,LD Chandimal,10,18,55.55,2,v New Zealand,Mount Maunganui,3 Jan 2019,10,18,55.55,New Zealand,False,2019-01-03,True
3,DPMD Jayawardene,2,5,40.00,2,v India,Kolkata,13 Nov 2014,2,5,40.00,India,False,2014-11-13,True
4,HDRL Thirimanne,1*,8,12.50,2,v South Africa,Pallekele,28 Jul 2013,1,8,12.50,South Africa,True,2013-07-28,True
5,AD Mathews,19,32,59.37,1,v South Africa,Sydney,18 Mar 2015,19,32,59.37,South Africa,False,2015-03-18,True
6,SL Malinga,11,7,157.14,2,v New Zealand,Mount Maunganui,3 Jan 2019,11,7,157.14,New Zealand,False,2019-01-03,True
7,LD Chandimal,64,70,91.42,2,v Bangladesh,Dhaka,22 Feb 2014,64,70,91.42,Bangladesh,False,2014-02-22,True
8,LD Chandimal,50,65,76.92,2,v New Zealand,Mount Maunganui,5 Jan 2016,50,65,76.92,New Zealand,False,2016-01-05,True
9,LD Chandimal,37,56,66.07,1,v England,Nottingham,21 Jun 2016,37,56,66.07,England,False,2016-06-21,True
10,MD Gunathilaka,9,11,81.81,1,v Ireland,Dublin (Malahide),16 Jun 2016,9,11,81.81,Ireland,False,2016-06-16,True
11,NGRP Jayasuriya,11*,11,100.00,1,v South Africa,Dambulla,1 Aug 2018,11,11,100.00,South Africa,True,2018-08-01,True
12,LD Chandimal,81,91,89.01,1,v India,Adelaide,14 Feb 2012,81,91,89.01,India,False,2012-02-14,True
13,BMAJ Mendis,1,4,25.00,1,v New Zealand,Cardiff,1 Jun 2019,1,4,25.00,New Zealand,False,2019-06-01,True
14,KC Sangakkara,45,66,68.18,2,v Pakistan,Dubai (DSC),18 Nov 2011,45,66,68.18,Pakistan,False,2011-11-18,True
15,SL Malinga,0,1,0.00,2,v West Indies,Colombo (RPS),1 Nov 2015,0,1,0.00,West Indies,False,2015-11-01,True
16,NLTC Perera,51*,45,113.33,1,v South Africa,Pallekele,8 Aug 2018,51,45,113.33,South Africa,True,2018-08-08,True
17,DM de Silva,0,1,0.00,2,v Zimbabwe,Bulawayo,27 Nov 2016,0,1,0.00,Zimbabwe,False,2016-11-27,True
18,SMSM Senanayake,DNB,-,-,1,v South Africa,Colombo (RPS),31 Jul 2013,0,0,0.00,South Africa,False,2013-07-31,False
19,PC de Silva,2,7,28.57,1,v India,Hyderabad (Deccan),9 Nov 2014,2,7,28.57,India,False,2014-11-09,True
20,DPMD Jayawardene,64,64,100.00,1,v Scotland,Edinburgh,13 Jul 2011,64,64,100.00,Scotland,False,2011-07-13,True
21,HDRL Thirimanne,46,72,63.88,1,v India,Port of Spain,11 Jul 2013,46,72,63.88,India,False,2013-07-11,True
22,HDRL Thirimanne,19,31,61.29,1,v Pakistan,Sharjah,23 Oct 2017,19,31,61.29,Pakistan,False,2017-10-23,True
23,TM Dilshan,22,33,66.66,2,v Australia,Brisbane,18 Jan 2013,22,33,66.66,Australia,False,2013-01-18,True
24,RMS Eranga,2*,8,25.00,2,v India,Port of Spain,9 Jul 2013,2,8,25.00,India,True,2013-07-09,True
25,HDRL Thirimanne,17,33,51.51,1,v South Africa,Colombo (RPS),20 Jul 2013,17,33,51.51,South Africa,False,2013-07-20,True
26,SL Malinga,2,4,50.00,1,v South Africa,Bloemfontein,17 Jan 2012,2,4,50.00,South Africa,False,2012-01-17,True
27,SL Malinga,10,16,62.50,2,v England,The Oval,22 May 2014,10,16,62.50,England,False,2014-05-22,True
28,N Pradeep,0,4,0.00,1,v Afghanistan,Cardiff,4 Jun 2019,0,4,0.00,Afghanistan,False,2019-06-04,True
29,NLTC Perera,5,3,166.66,2,v India,Mohali,13 Dec 2017,5,3,166.66,India,False,2017-12-13,True
30,PVD Chameera,12*,9,133.33,1,v Scotland,Hobart,11 Mar 2015,12,9,133.33,Scotland,True,2015-03-11,True
31,RAS Lakmal,0*,0,-,2,v England,The Oval,28 Jun 2011,0,0,0.00,England,True,2011-06-28,True
32,HDRL Thirimanne,18,31,58.06,2,v Bangladesh,Dhaka,22 Feb 2014,18,31,58.06,Bangladesh,False,2014-02-22,True
33,DM de Silva,36,29,124.13,2,v New Zealand,Nelson,8 Jan 2019,36,29,124.13,New Zealand,False,2019-01-08,True
34,NLTC Perera,21,29,72.41,2,v Pakistan,Dubai (DSC),13 Oct 2017,21,29,72.41,Pakistan,False,2017-10-13,True
35,PVD Chameera,9,12,75.00,1,v New Zealand,Christchurch,28 Dec 2015,9,12,75.00,New Zealand,False,2015-12-28,True
36,DM de Silva,19*,15,126.66,1,v England,Colombo (RPS),23 Oct 2018,19,15,126.66,England,True,2018-10-23,True
37,KC Sangakkara,9,17,52.94,2,v New Zealand,Dunedin,23 Jan 2015,9,17,52.94,New Zealand,False,2015-01-23,True
38,HDRL Thirimanne,15,26,57.69,2,v South Africa,Colombo (RPS),6 Jul 2014,15,26,57.69,South Africa,False,2014-07-06,True
39,SMA Priyanjan,3,7,42.85,1,v Pakistan,Hambantota,26 Aug 2014,3,7,42.85,Pakistan,False,2014-08-26,True
40,TM Dilshan,6,14,42.85,1,v Pakistan,Hambantota,23 Aug 2014,6,14,42.85,Pakistan,False,2014-08-23,True
41,KMDN Kulasekara,DNB,-,-,2,v New Zealand,Pallekele,6 Nov 2012,0,0,0.00,New Zealand,False,2012-11-06,False
42,PARP Perera,33,57,57.89,1,v South Africa,Cape Town,16 Mar 2019,33,57,57.89,South Africa,False,2019-03-16,True
43,LD Madushanka,1*,1,100.00,1,v Zimbabwe,Galle,30 Jun 2017,1,1,100.00,Zimbabwe,True,2017-06-30,True
44,SMSM Senanayake,3,14,21.42,1,v Ireland,Dublin,6 May 2014,3,14,21.42,Ireland,False,2014-05-06,True
45,DM de Silva,12,5,240.00,1,v West Indies,Hambantota,26 Feb 2020,12,5,240.00,West Indies,False,2020-02-26,True
46,BKG Mendis,43,49,87.75,1,v Bangladesh,Colombo (RPS),26 Jul 2019,43,49,87.75,Bangladesh,False,2019-07-26,True
47,WU Tharanga,2,16,12.50,2,v Pakistan,Colombo (RPS),18 Jun 2012,2,16,12.50,Pakistan,False,2012-06-18,True
48,DAS Gunaratne,28,26,107.69,1,v Zimbabwe,Galle,30 Jun 2017,28,26,107.69,Zimbabwe,False,2017-06-30,True
49,PADLR Sandakan,2*,10,20.00,1,v South Africa,Port Elizabeth,28 Jan 2017,2,10,20.00,South Africa,True,2017-01-28,True

In [125]:
playerstatsl[0:50]

,Player,Runs,Balls Faced,Strick Rate,Inning,Opposition,Ground,Date,Runscopy,Balls Faced Copy,Strick Rate Copy,OppositionCopy,Not Out,Dateinymdformat
0,A Dananjaya,18,37,48.64,1,v Pakistan,Sharjah,20 Oct 2017,18,37,48.64,Pakistan,False,2017-10-20
1,MD Gunathilaka,0,3,0.00,2,v Bangladesh,Dambulla,25 Mar 2017,0,3,0.00,Bangladesh,False,2017-03-25
2,LD Chandimal,10,18,55.55,2,v New Zealand,Mount Maunganui,3 Jan 2019,10,18,55.55,New Zealand,False,2019-01-03
3,DPMD Jayawardene,2,5,40.00,2,v India,Kolkata,13 Nov 2014,2,5,40.00,India,False,2014-11-13
4,HDRL Thirimanne,1*,8,12.50,2,v South Africa,Pallekele,28 Jul 2013,1,8,12.50,South Africa,True,2013-07-28
5,AD Mathews,19,32,59.37,1,v South Africa,Sydney,18 Mar 2015,19,32,59.37,South Africa,False,2015-03-18
6,SL Malinga,11,7,157.14,2,v New Zealand,Mount Maunganui,3 Jan 2019,11,7,157.14,New Zealand,False,2019-01-03
7,LD Chandimal,64,70,91.42,2,v Bangladesh,Dhaka,22 Feb 2014,64,70,91.42,Bangladesh,False,2014-02-22
8,LD Chandimal,50,65,76.92,2,v New Zealand,Mount Maunganui,5 Jan 2016,50,65,76.92,New Zealand,False,2016-01-05
9,LD Chandimal,37,56,66.07,1,v England,Nottingham,21 Jun 2016,37,56,66.07,England,False,2016-06-21
10,MD Gunathilaka,9,11,81.81,1,v Ireland,Dublin (Malahide),16 Jun 2016,9,11,81.81,Ireland,False,2016-06-16
11,NGRP Jayasuriya,11*,11,100.00,1,v South Africa,Dambulla,1 Aug 2018,11,11,100.00,South Africa,True,2018-08-01
12,LD Chandimal,81,91,89.01,1,v India,Adelaide,14 Feb 2012,81,91,89.01,India,False,2012-02-14
13,BMAJ Mendis,1,4,25.00,1,v New Zealand,Cardiff,1 Jun 2019,1,4,25.00,New Zealand,False,2019-06-01
14,KC Sangakkara,45,66,68.18,2,v Pakistan,Dubai (DSC),18 Nov 2011,45,66,68.18,Pakistan,False,2011-11-18
15,SL Malinga,0,1,0.00,2,v West Indies,Colombo (RPS),1 Nov 2015,0,1,0.00,West Indies,False,2015-11-01
16,NLTC Perera,51*,45,113.33,1,v South Africa,Pallekele,8 Aug 2018,51,45,113.33,South Africa,True,2018-08-08
17,DM de Silva,0,1,0.00,2,v Zimbabwe,Bulawayo,27 Nov 2016,0,1,0.00,Zimbabwe,False,2016-11-27
18,SMSM Senanayake,DNB,-,-,1,v South Africa,Colombo (RPS),31 Jul 2013,0,0,0.00,South Africa,False,2013-07-31
19,PC de Silva,2,7,28.57,1,v India,Hyderabad (Deccan),9 Nov 2014,2,7,28.57,India,False,2014-11-09
20,DPMD Jayawardene,64,64,100.00,1,v Scotland,Edinburgh,13 Jul 2011,64,64,100.00,Scotland,False,2011-07-13
21,HDRL Thirimanne,46,72,63.88,1,v India,Port of Spain,11 Jul 2013,46,72,63.88,India,False,2013-07-11
22,HDRL Thirimanne,19,31,61.29,1,v Pakistan,Sharjah,23 Oct 2017,19,31,61.29,Pakistan,False,2017-10-23
23,TM Dilshan,22,33,66.66,2,v Australia,Brisbane,18 Jan 2013,22,33,66.66,Australia,False,2013-01-18
24,RMS Eranga,2*,8,25.00,2,v India,Port of Spain,9 Jul 2013,2,8,25.00,India,True,2013-07-09
25,HDRL Thirimanne,17,33,51.51,1,v South Africa,Colombo (RPS),20 Jul 2013,17,33,51.51,South Africa,False,2013-07-20
26,SL Malinga,2,4,50.00,1,v South Africa,Bloemfontein,17 Jan 2012,2,4,50.00,South Africa,False,2012-01-17
27,SL Malinga,10,16,62.50,2,v England,The Oval,22 May 2014,10,16,62.50,England,False,2014-05-22
28,N Pradeep,0,4,0.00,1,v Afghanistan,Cardiff,4 Jun 2019,0,4,0.00,Afghanistan,False,2019-06-04
29,NLTC Perera,5,3,166.66,2,v India,Mohali,13 Dec 2017,5,3,166.66,India,False,2017-12-13
30,PVD Chameera,12*,9,133.33,1,v Scotland,Hobart,11 Mar 2015,12,9,133.33,Scotland,True,2015-03-11
31,RAS Lakmal,0*,0,-,2,v England,The Oval,28 Jun 2011,0,0,0.00,England,True,2011-06-28
32,HDRL Thirimanne,18,31,58.06,2,v Bangladesh,Dhaka,22 Feb 2014,18,31,58.06,Bangladesh,False,2014-02-22
33,DM de Silva,36,29,124.13,2,v New Zealand,Nelson,8 Jan 2019,36,29,124.13,New Zealand,False,2019-01-08
34,NLTC Perera,21,29,72.41,2,v Pakistan,Dubai (DSC),13 Oct 2017,21,29,72.41,Pakistan,False,2017-10-13
35,PVD Chameera,9,12,75.00,1,v New Zealand,Christchurch,28 Dec 2015,9,12,75.00,New Zealand,False,2015-12-28
36,DM de Silva,19*,15,126.66,1,v England,Colombo (RPS),23 Oct 2018,19,15,126.66,England,True,2018-10-23
37,KC Sangakkara,9,17,52.94,2,v New Zealand,Dunedin,23 Jan 2015,9,17,52.94,New Zealand,False,2015-01-23
38,HDRL Thirimanne,15,26,57.69,2,v South Africa,Colombo (RPS),6 Jul 2014,15,26,57.69,South Africa,False,2014-07-06
39,SMA Priyanjan,3,7,42.85,1,v Pakistan,Hambantota,26 Aug 2014,3,7,42.85,Pakistan,False,2014-08-26
40,TM Dilshan,6,14,42.85,1,v Pakistan,Hambantota,23 Aug 2014,6,14,42.85,Pakistan,False,2014-08-23
41,KMDN Kulasekara,DNB,-,-,2,v New Zealand,Pallekele,6 Nov 2012,0,0,0.00,New Zealand,False,2012-11-06
42,PARP Perera,33,57,57.89,1,v South Africa,Cape Town,16 Mar 2019,33,57,57.89,South Africa,False,2019-03-16
43,LD Madushanka,1*,1,100.00,1,v Zimbabwe,Galle,30 Jun 2017,1,1,100.00,Zimbabwe,True,2017-06-30
44,SMSM Senanayake,3,14,21.42,1,v Ireland,Dublin,6 May 2014,3,14,21.42,Ireland,False,2014-05-06
45,DM de Silva,12,5,240.00,1,v West Indies,Hambantota,26 Feb 2020,12,5,240.00,West Indies,False,2020-02-26
46,BKG Mendis,43,49,87.75,1,v Bangladesh,Colombo (RPS),26 Jul 2019,43,49,87.75,Bangladesh,False,2019-07-26
47,WU Tharanga,2,16,12.50,2,v Pakistan,Colombo (RPS),18 Jun 2012,2,16,12.50,Pakistan,False,2012-06-18
48,DAS Gunaratne,28,26,107.69,1,v Zimbabwe,Galle,30 Jun 2017,28,26,107.69,Zimbabwe,False,2017-06-30
49,PADLR Sandakan,2*,10,20.00,1,v South Africa,Port Elizabeth,28 Jan 2017,2,10,20.00,South Africa,True,2017-01-28

In [17]:
# make copies and fill empty entries of Balls Faced and Strike Rate and make the int or float

playerstatsl['Balls Faced Copy'] = playerstatsl['Balls Faced'].fillna(10)
playerstatsl['Balls Faced Copy'] =playerstatsl['Balls Faced Copy'].replace(['-'],0)
playerstatsl['Strick Rate Copy'] = playerstatsl['Strick Rate'].fillna(10)
playerstatsl['Strick Rate Copy'] = playerstatsl['Strick Rate Copy'].replace(['-'],0)


playerstatsl['Balls Faced Copy'] = playerstatsl['Balls Faced Copy'].astype('int')
playerstatsl['Strick Rate Copy'] = playerstatsl['Strick Rate Copy'].astype('float')

playerstatsl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2453 entries, 0 to 2507
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player            2453 non-null   object
 1   Runs              2453 non-null   object
 2   Balls Faced       2453 non-null   object
 3   Strick Rate       2453 non-null   object
 4   Inning            2453 non-null   object
 5   Opposition        2453 non-null   object
 6   Ground            2453 non-null   object
 7   Date              2453 non-null   object
 8   Runscopy          2453 non-null   int64
 9   Balls Faced Copy  2453 non-null   int64
 10  Strick Rate Copy  2453 non-null   float64
dtypes: float64(1), int64(2), object(8)
memory usage: 230.0+ KB

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [21]:
# removing v form opposition column

playerstatsl['OppositionCopy'] = playerstatsl['Opposition'].str.strip(' ').str[1:]
playerstatsl

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Player,Runs,Balls Faced,Strick Rate,Inning,Opposition,Ground,Date,Runscopy,Balls Faced Copy,Strick Rate Copy,OppositionCopy
0,A Dananjaya,18,37,48.64,1,v Pakistan,Sharjah,20 Oct 2017,18,37,48.64,Pakistan
1,MD Gunathilaka,0,3,0.00,2,v Bangladesh,Dambulla,25 Mar 2017,0,3,0.00,Bangladesh
2,LD Chandimal,10,18,55.55,2,v New Zealand,Mount Maunganui,3 Jan 2019,10,18,55.55,New Zealand
3,DPMD Jayawardene,2,5,40.00,2,v India,Kolkata,13 Nov 2014,2,5,40.00,India
4,HDRL Thirimanne,1*,8,12.50,2,v South Africa,Pallekele,28 Jul 2013,1,8,12.50,South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...
2503,LD Chandimal,29,25,116.00,1,v Pakistan,Hambantota,26 Jul 2015,29,25,116.00,Pakistan
2504,WIA Fernando,82,75,109.33,2,v Bangladesh,Colombo (RPS),28 Jul 2019,82,75,109.33,Bangladesh
2505,PM Pushpakumara,8,8,100.00,1,v India,Colombo (RPS),3 Sep 2017,8,8,100.00,India
2506,SL Malinga,DNB,-,-,1,v England,Leeds,1 Jul 2011,0,0,0.00,England
2507,WU Tharanga,11,29,37.93,1,v India,Port of Spain,11 Jul 2013,11,29,37.93,India

In [55]:
# Date string to a dateformat

playerstatsl['Dateinymdformat'] = pd.to_datetime(playerstatsl['Date'])
playerstatsl

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Player,Runs,Balls Faced,Strick Rate,Inning,Opposition,Ground,Date,Runscopy,Balls Faced Copy,Strick Rate Copy,OppositionCopy,Not Out,Dateinymdformat
0,A Dananjaya,18,37,48.64,1,v Pakistan,Sharjah,20 Oct 2017,18,37,48.64,Pakistan,False,2017-10-20
1,MD Gunathilaka,0,3,0.00,2,v Bangladesh,Dambulla,25 Mar 2017,0,3,0.00,Bangladesh,False,2017-03-25
2,LD Chandimal,10,18,55.55,2,v New Zealand,Mount Maunganui,3 Jan 2019,10,18,55.55,New Zealand,False,2019-01-03
3,DPMD Jayawardene,2,5,40.00,2,v India,Kolkata,13 Nov 2014,2,5,40.00,India,False,2014-11-13
4,HDRL Thirimanne,1*,8,12.50,2,v South Africa,Pallekele,28 Jul 2013,1,8,12.50,South Africa,True,2013-07-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2503,LD Chandimal,29,25,116.00,1,v Pakistan,Hambantota,26 Jul 2015,29,25,116.00,Pakistan,False,2015-07-26
2504,WIA Fernando,82,75,109.33,2,v Bangladesh,Colombo (RPS),28 Jul 2019,82,75,109.33,Bangladesh,False,2019-07-28
2505,PM Pushpakumara,8,8,100.00,1,v India,Colombo (RPS),3 Sep 2017,8,8,100.00,India,False,2017-09-03
2506,SL Malinga,DNB,-,-,1,v England,Leeds,1 Jul 2011,0,0,0.00,England,False,2011-07-01
2507,WU Tharanga,11,29,37.93,1,v India,Port of Spain,11 Jul 2013,11,29,37.93,India,False,2013-07-11

In [107]:
# cleaned dataframe preview

playerstatsl.head()

,Player,Runs,Balls Faced,Strick Rate,Inning,Opposition,Ground,Date,Runscopy,Balls Faced Copy,Strick Rate Copy,OppositionCopy,Not Out,Dateinymdformat
0,A Dananjaya,18,37,48.64,1,v Pakistan,Sharjah,20 Oct 2017,18,37,48.64,Pakistan,False,2017-10-20
1,MD Gunathilaka,0,3,0.00,2,v Bangladesh,Dambulla,25 Mar 2017,0,3,0.00,Bangladesh,False,2017-03-25
2,LD Chandimal,10,18,55.55,2,v New Zealand,Mount Maunganui,3 Jan 2019,10,18,55.55,New Zealand,False,2019-01-03
3,DPMD Jayawardene,2,5,40.00,2,v India,Kolkata,13 Nov 2014,2,5,40.00,India,False,2014-11-13
4,HDRL Thirimanne,1*,8,12.50,2,v South Africa,Pallekele,28 Jul 2013,1,8,12.50,South Africa,True,2013-07-28

In [133]:
# removing unwanted columns

playerstatsl_refined = playerstatsl.loc[:, ['Dateinymdformat','Player', 'OppositionCopy', 'Ground' ,'Inning' , 'Batted','Runscopy', 'Balls Faced Copy', 'Strick Rate Copy', 'Not Out']]
playerstatsl_refined.head()

,Dateinymdformat,Player,OppositionCopy,Ground,Inning,Batted,Runscopy,Balls Faced Copy,Strick Rate Copy,Not Out
0,2017-10-20,A Dananjaya,Pakistan,Sharjah,1,True,18,37,48.64,False
1,2017-03-25,MD Gunathilaka,Bangladesh,Dambulla,2,True,0,3,0.00,False
2,2019-01-03,LD Chandimal,New Zealand,Mount Maunganui,2,True,10,18,55.55,False
3,2014-11-13,DPMD Jayawardene,India,Kolkata,2,True,2,5,40.00,False
4,2013-07-28,HDRL Thirimanne,South Africa,Pallekele,2,True,1,8,12.50,True

### Merge dataframes

In [156]:
# merge function will merge two dataframes according to dateinymdformat,renaming columns and drop duplicates

playermatchstatsl = pd.merge(playerstatsl_refined, matchstatsl_refined)
pd.set_option('display.max_columns', None)
playermatchstatsl.columns = ('Date', 'Player', 'Opposition', 'Ground', 'Inning',
       'Batted', 'Runs', 'Balls Faced', 'Strick Rate', 'Not Out',
       'Inns', 'TeamScore', 'TeamWicketslFallen', 'RPO', 'Overs', 'Result')
playermatchstatsl = playermatchstatsl.drop(['Inns'], axis = 1)
playermatchstatsl

,Date,Player,Opposition,Ground,Inning,Batted,Runs,Balls Faced,Strick Rate,Not Out,TeamScore,TeamWicketslFallen,RPO,Overs,Result
0,2017-10-20,A Dananjaya,Pakistan,Sharjah,1,True,18,37,48.64,False,173,10,3.96,43.4,lost
1,2017-10-20,S Samarawickrama,Pakistan,Sharjah,1,True,0,2,0.00,False,173,10,3.96,43.4,lost
2,2017-10-20,HDRL Thirimanne,Pakistan,Sharjah,1,True,62,94,65.95,False,173,10,3.96,43.4,lost
3,2017-10-20,WU Tharanga,Pakistan,Sharjah,1,True,0,5,0.00,False,173,10,3.96,43.4,lost
4,2017-10-20,NLTC Perera,Pakistan,Sharjah,1,True,0,1,0.00,False,173,10,3.96,43.4,lost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448,2011-11-20,KC Sangakkara,Pakistan,Sharjah,2,True,58,103,56.31,False,174,10,3.83,45.2,lost
2449,2011-11-20,BMAJ Mendis,Pakistan,Sharjah,2,True,2,7,28.57,False,174,10,3.83,45.2,lost
2450,2011-11-20,TM Dilshan,Pakistan,Sharjah,2,True,11,21,52.38,False,174,10,3.83,45.2,lost
2451,2011-11-20,SL Malinga,Pakistan,Sharjah,2,True,4,6,66.66,False,174,10,3.83,45.2,lost
2452,2011-11-20,LD Chandimal,Pakistan,Sharjah,2,True,11,19,57.89,False,174,10,3.83,45.2,lost

In [ ]:
# removing duplicats and rearranging the dataframe

### Saving cleaned datasets

In [157]:
# playerstatsl.to_csv('playerstatsl_cleaned.csv')
# matchstatsl.to_csv('matchstatsl_cleaned.csv')
# matchstatsl_refined.to_csv('matchstatsl_refined.csv')
# playerstatsl_refined.to_csv('playerstatsl_refined.csv')
playermatchstatsl.to_csv('playermatchstatsl.csv')

In [159]:
pd.read_csv('playermatchstatsl.csv')

,Unnamed: 0,Date,Player,Opposition,Ground,Inning,Batted,Runs,Balls Faced,Strick Rate,Not Out,TeamScore,TeamWicketslFallen,RPO,Overs,Result
0,0,2017-10-20,A Dananjaya,Pakistan,Sharjah,1,True,18,37,48.64,False,173,10,3.96,43.4,lost
1,1,2017-10-20,S Samarawickrama,Pakistan,Sharjah,1,True,0,2,0.00,False,173,10,3.96,43.4,lost
2,2,2017-10-20,HDRL Thirimanne,Pakistan,Sharjah,1,True,62,94,65.95,False,173,10,3.96,43.4,lost
3,3,2017-10-20,WU Tharanga,Pakistan,Sharjah,1,True,0,5,0.00,False,173,10,3.96,43.4,lost
4,4,2017-10-20,NLTC Perera,Pakistan,Sharjah,1,True,0,1,0.00,False,173,10,3.96,43.4,lost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448,2448,2011-11-20,KC Sangakkara,Pakistan,Sharjah,2,True,58,103,56.31,False,174,10,3.83,45.2,lost
2449,2449,2011-11-20,BMAJ Mendis,Pakistan,Sharjah,2,True,2,7,28.57,False,174,10,3.83,45.2,lost
2450,2450,2011-11-20,TM Dilshan,Pakistan,Sharjah,2,True,11,21,52.38,False,174,10,3.83,45.2,lost
2451,2451,2011-11-20,SL Malinga,Pakistan,Sharjah,2,True,4,6,66.66,False,174,10,3.83,45.2,lost
2452,2452,2011-11-20,LD Chandimal,Pakistan,Sharjah,2,True,11,19,57.89,False,174,10,3.83,45.2,lost